<template>
<div class="row">
 <div v-if="logedIn" class="card col-md-5 mr-2" style="height: 430px;">
        <div class="card-header">
            <h4 class="card-title ml-auto mr-auto">Add contact information</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form @submit.prevent="addContact" class="form form-vertical" enctype="multipart/form-data" >
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first-name-icon">Name</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="text" id="first-name-icon" v-model="contact.name" class="form-control"  placeholder="Name">
                                        <div class="form-control-position">
                                            <i class="feather icon-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email-id-icon">Email</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="email" id="email-id-icon" class="form-control" v-model="contact.email"  placeholder="Email">
                                        <div class="form-control-position">
                                            <i class="feather icon-mail"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="contact-info-icon">Mobile</label>
                                    <div class="position-relative has-icon-left">
                                        <input type="number" id="contact-info-icon" class="form-control" v-model="contact.mobile" placeholder="Mobile">
                                        <div class="form-control-position">
                                            <i class="feather icon-smartphone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary mr-1 mb-1 waves-effect waves-light">Save</button>
                                <button @click="logout()" class="btn btn-danger mr-1 mb-1 waves-effect waves-light">Logout</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div v-if="register" class="col-md-5 card mr-3">
                 
                        <div class="card-header pt-50 pb-1">
                            <div class="card-title">
                                <h4 class="mb-0">Create Account</h4>
                            </div>
                        </div>
                        <p class="px-2">Fill the below form to create a new account.</p>
                        <div class="card-content">
                            <div class="card-body pt-0">
                                <form @submit.prevent="registerUser" class="form form-vertical" enctype="multipart/form-data">
                                    <div class="form-label-group">
                                        <input type="text" id="inputName" class="form-control" v-model="registerData.name" placeholder="Name" required>
                                        <label for="inputName">Name</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="email" id="inputEmail" class="form-control" v-model="registerData.email" placeholder="Email" required>
                                        <label for="inputEmail">Email</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password" id="inputPassword" class="form-control" v-model="registerData.password" placeholder="Password" required>
                                        <label for="inputPassword">Password</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password" id="inputConfPassword" class="form-control" v-model="registerData.c_password" placeholder="Confirm Password" required>
                                        <label for="inputConfPassword">Confirm Password</label>
                                    </div>
                                    
                                    <p @click="goBack()" class="btn btn-outline-primary float-left btn-inline mb-50">Back</p>
                                    <button  type="submit" class="btn btn-primary float-right btn-inline mb-50">Register</a></button>
                                </form>
                            </div>
                        </div>
                   
                </div>

<div v-if="logIn" class="col-md-5 card mr-3">
                        <div class="card-header pt-70 pb-1 ">
                            <div class="card-title ml-auto mr-auto">
                                <h4 class="mb-0 ">Login to add contacts</h4>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body pt-0">
                                <form  @submit.prevent="doLogin" class="form form-vertical" enctype="multipart/form-data" >
                                    <div class="form-label-group">
                                        <input type="email" class="form-control" v-model="login.email" placeholder="Email" required>
                                        <label for="inputEmail">Email</label>
                                    </div>
                                    <div class="form-label-group">
                                        <input type="password"   v-model="login.password" class="form-control" placeholder="Password" required>
                                        <label for="inputPassword">Password</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary float-right btn-inline mb-50 ml-2">Login</a></button>
                                    <button  @click="doRegister()" class="btn btn-primary float-right btn-inline mb-50">Register</a></button>
                                </form>
                            </div>
                        </div>                </div>
                
<div class="card col-md-6 " style="height: 430px;">
        <div class="card-header">
            <h4 class="card-title pb-2 ml-auto mr-auto">All contacts</h4>
        </div>
        <div class="table-responsive pb-2"  style="height: 325px;">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th v-if="logedIn">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="contact in contacts" v-bind:key="contact.id">
                        <td>{{contact.name}}</td>
                        <td>{{contact.email}}</td>
                        <td>{{contact.mobile}}</td>
                        <td v-if="logedIn"><button type="button" style="margin-right: 10px;" @click="editcontact(contact)"  class="btn btn-primary">Edit</button>
                        <button type="button" @click="deletecontact(contact.id)" class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example mt-2">
  <ul class="pagination d-flex justify-content-center " >
    <li class="page-item" v-bind:class="[{disabled: !pagination.prev_page_url}]" @click="fetchcontacts(pagination.prev_page_url)"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link text-dark" href="#">Page {{pagination.current_page}} of {{pagination.last_page}}</a></li>
    <li class="page-item" v-bind:class="[{disabled: !pagination.next_page_url}]" @click="fetchcontacts(pagination.next_page_url)"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    </div></div>

</template>

<script>


export default {
  data() {
    return {
      contacts: [],
      contact: {
        id: '',
        name : '',
        email : '',
        mobile : '',
        contact_id: '',
      },
      login: {
        email: '',
        password: '',
      },
      registerData: {
        name: '',
        email: '',
        password: '',
        c_password: '',
      },
      contact_id: '',
      pagination: {},
      edit: false,
      logedIn : false,
      logIn : false,
      register : false,
      token: false,
     
    };
  },
 
  created() {
    this.fetchcontacts();
      if(localStorage.token){
        this.token = localStorage.getItem('token');
        this.logedIn = true;
        this.logIn = false;
      }else{
        this.token = false;
         this.logedIn = false;
        this.logIn = true;
      }

      this.register = false;
    
  },

  methods: {
    fetchcontacts(page_url) {
      let vm = this;
      page_url = page_url || 'api/contacts';
      fetch(page_url)
        .then(res => res.json())
        .then(res => {
          this.contacts = res.contacts.data;
          vm.makePagination(res.contacts);
        })
        .catch(err => console.log(err));
    },
    makePagination(res) {
      let pagination = {
        current_page: res.current_page,
        last_page: res.last_page,
        next_page_url: res.next_page_url,
        prev_page_url: res.prev_page_url
      };
      this.pagination = pagination;
    },
    deletecontact(id) {
      if (confirm('Are You Sure?')) {
        fetch(`api/contact/${id}`, {
          method: 'delete'
        })
          .then(res => res.json())
          .then(data => {
            alert('Contact Removed');
            this.fetchcontacts();
          })
          .catch(err => console.log(err));
      }
    },
    addContact() {
      if (this.edit === false) {
        // Add
        fetch('api/contact', {
          method: 'post',
          body: JSON.stringify(this.contact),
          headers: {
            'content-type': 'application/json'
          }
        })
          .then(res => res.json())
          .then(data => {
            this.clearForm();
            alert('contact Added');
            this.fetchcontacts();
          })
          .catch(err => console.log(err));
      } else {
        // Update
        fetch('api/contact', {
          method: 'put',
          body: JSON.stringify(this.contact),
          headers: {
            'content-type': 'application/json'
          }
        })
          .then(res => res.json())
          .then(data => {
            this.clearForm();
            alert('contact Updated');
            this.fetchcontacts();
          })
          .catch(err => console.log(err));
      }
    },
     doLogin() {
        fetch('api/login', {
          method: 'post',
          body: JSON.stringify(this.login),
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          }
        })
          .then(res => res.json())
          .then(data => {
          if(data.token){
            localStorage.setItem('token', data.token);
          this.token = data.token;
          this.logedIn = true;
          this.logIn = false;
          alert('Login successfull')
          }else{
             alert('Wrong credential')
          }
          })
          .catch(err => {console.log(err)
          });
    },
    registerUser(){
      if(this.registerData.password === this.registerData.c_password){
      fetch('api/register', {
                  method: 'post',
                  body: JSON.stringify(this.registerData),
                  headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                  }
                })
                  .then(res => res.json())
                  .then(data => {
                  if(data.token){
                    alert('Registration successfull');
                    localStorage.setItem('token', data.token);
                  this.token = data.token;
                  this.logedIn = true;
                  this.register = false;
                  }else if(data.errors.email){
                    alert('The email has already been taken');
                  }
                  })
                  .catch(err => {console.log(err)
                  });
      }else{
           alert('Confirm password not matched');
      }
    },
    doRegister(){
      this.register = true;
      this.logIn = false;
    },
    goBack(){
      this.register = false;
      this.logIn = true;
    },
    logout(){
    localStorage.removeItem('token');
          this.token = null;
          this.logedIn = false;
          this.logIn = true;
         
    },
    editcontact(contact) {
      this.edit = true;
      this.contact.id = contact.id;
      this.contact.contact_id = contact.id;
      this.contact.name = contact.name;
      this.contact.email = contact.email;
      this.contact.mobile = contact.mobile;

    },
    clearForm() {
      this.edit = false;
      this.contact.id = null;
      this.contact.contact_id = null;
      this.contact.name = '';
      this.contact.email = '';
        this.contact.mobile = '';

    }
  }
};
</script>